<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <script type='text/javascript' src='/javascripts/jquery-1.12.4.min.js'/></script>
    <script type="text/javascript" src="/javascripts/jquery.dynatable.js"></script>


    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/uikit.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.dynatable.css">


  </head>
  <body>
    {{{body}}}
    
    <script type='text/javascript' src='/javascripts/bootstrap.min.js'/>
    <script type='text/javascript' src='/javascripts/uikit.min.js'/>
    <script type='text/javascript' src='/javascripts/uikit-icons.min.js'/>
  </body>
</html>
